.note-editor__container
  form(action='#')
    .mdl-textfield.mdl-js-textfield
      input#title.note-editor__title.mdl-textfield__input(type='text')
      label.mdl-textfield__label(for='title') Title
    .mdl-textfield.mdl-js-textfield
      textarea#text.note-editor__text.mdl-textfield__input(type='text', rows='3')
      label.mdl-textfield__label(for='text') Text



