.main-menu__container
  span.mdl-layout-title Tags
  nav.mdl-navigation
    a.mdl-navigation__link(href='') Show all notes
    .tag
      a.mdl-navigation__link(href='') #TagOne
    .tag
      a.mdl-navigation__link(href='') #TagTwo
    .tag
      a.mdl-navigation__link(href='') #TagThree
