main-menu.mdl-layout__drawer
  span.mdl-layout-title Tags
  nav.mdl-navigation
    a.mdl-navigation__link(href='') Show all notes
    a.mdl-navigation__link(href='') TagOne
    a.mdl-navigation__link(href='') TagTwo
    a.mdl-navigation__link(href='') TagThree

