.note__container.mdl-card.mdl-shadow--2dp
  .mdl-card__title
    h2.note__title.mdl-card__title-text Note Title
  .mdl-card__actions.mdl-card--border
  .note__text.mdl-card__supporting-text
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    | Aenan convallis.
