doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Note Editor
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel="stylesheet", href="styles.css")
  body
    layout
    script(src="polyfills.js")
    script(src="dependencies.js")
    script(src="app.js")
