.mdl-layout.mdl-js-layout
  toolbar
  //include ../main-menu/main-menu.component.pug
  main.mdl-layout__content
    //include ../note-list/note-list.component.pug
    //include ../note-editor/note-editor.component.pug
